/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}

/* HEADER */

header{
    max-width: 1440px;
    min-width: 320px;
}

nav {
    display : flex;
    flex-direction: row;
    justify-content: space-between;

}

header nav img {
    width: 61.09px;
    height: 19px;
    padding: 30px 0 0 50px;

}

#headerLinks {
    display: flex;
    gap: 50px;
    padding-right: 50px;
}

header a {
    padding: 30px;
    font-size: 16px;
}

.infogroup{
    gap: 35px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.headlines {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.headlines h1 {
    font-size: 22px;
}

.headlines p {
    font-size: 16px;
}


.searchbar {
    display: flex;
    flex-direction: row;
}


.location-icone i {
    width: 14px;
    height: 18px;
    top: 15px;
    left: 18px;
    color:black;
}

.location-icone {
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 1px;
    background-color: 
    #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}

.searchbar input {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: black;
    border: 1px solid #F2F2F2;
}

.searchbar button {
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px 15px 16px;
    border: 0px;
}

.searchbar button:hover {
    cursor: pointer;
}

.search-button-text {
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.searchbar button i {
    display: none;
}

.filters{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filters p {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

.filterbar {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}

.filterbar p {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.filter {
    background-color: white;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    ;
}

.filter:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.filter i {
    font-size: 22px;
    display: flex;
    align-items: center;   
}

.filter span {
    font-size: 17px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.filter {
    /* margin: 8px 16px 8px 16px; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* align-items: center; */
    padding: 8px 16px 8px 16px;
}

.filtersLine1,
.filtersLine2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.infobar {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.infobar i {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;

}

.infobar p {
    font-size: 16px;
    display: flex;
    align-items: center;
}


.hebergements {
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.hebergements h2 {
    font-size: 22px;
}

.hebergements img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards-1st-line,
.hebergements-cards-2nd-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hebergements a {
    width: 15.64em;
}

.hebergements .card {
    display: flex;
    flex-direction: column;


 
}

.hebergements .card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 15px 0px 15px;
}

.showMore {
    font-size: 18px;
    font-weight: 700;
}


/* Activités*/
.activites {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.activitesCardsContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activites a {
    width: 18.59375em;
}

.activites img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.activites .card-txt {
    padding: 20px;
}

/*  */
.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    padding: 5px;
}

.card,
.activitesCard {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img,
.activitesCard img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    justify-content: space-evenly;
    margin-top: 30px;
}

.footerColumns {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

    .activites img {
        height: 200px;
    }

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        margin: 0;
    }

    header nav {
        flex-direction: column;
    }

    #headerLogo {
        display: flex;
        justify-content: center;
    }

    #headerLogo img {
        padding: 30px; 
    }

    #headerLinks {
        width: 100%;
        padding: 0;
        gap: 0;
    }

    #headerLinks a {
        width: 50%;
        display: flex;
        justify-content: center;
        border-bottom: 4px #F2F2F2 solid;
    }

    #headerLinks a:hover{
        color: #0065fc;
        border-bottom: 4px #0065fc solid;
        
    }

    .main-container {
        margin: 0;
        padding: 0;
    }

    .searchbar {
        width: 100%;
    }

    .searchbar input {
        width: 80%;
        justify-content: center;
    }

    .search-button-text {
        display: none;
    }

    .searchbar button i {
        color: white;
        display: flex; 
    }

    .searchbar button {
        border-radius: 15px;
    }

    .filters {
        flex-direction: column;
    }

    .filtersLine1,
    .filtersLine2 {
        width: 100%;
    }

    .filter {
        width: 45%;
        justify-content: center;
    }

    .filter span {
        font-size: 14px;
    }

    .filterbar {
        justify-content: center;
    }

    .infogroup{
        margin: 0 20px;
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements{
        order: 1;
        gap: 15px;
        background-color: white !important;
    }

    .populaires{
        border-radius: 0% !important;
        gap: 15px;
   
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100% !important;
    }

    .hebergements-cards-1st-line,
    .hebergements-cards-2nd-line {
        flex-direction: column;
        gap: 15px;
    }

    .hebergements a{
        width: 100% !important;
    }

    .activitesCardsContainer{
        flex-direction: column;
        gap: 15px;
    }

    .activites a {
        width: 100%;
        height: 200px;
    }

    .activitesCard img{
        height: 141px;
    }

    footer {
        flex-direction: column;
        padding-bottom: 100px;
    }

}
/* Desktop (1024px+) */

@media (min-width: 1024px) {
    .activitesCard img {
        height: 380px;
    }
}

/* Tablet & Desktop (768px+) */
@media (min-width: 768.01px) {

    nav a:hover{
        color: #0065fc;
        border-top: 4px #0065fc solid;
        padding-top: 26px;
    }

}

/* Wide screen (+1440px) */
@media (min-width: 1440px) {

    .main-container,
    header {
        margin: auto;
    }

    header{
        width: 100%;
    }

}