/* Medium devices (tablets, less/equal than 1024px)-------------- */
@media (max-width: 1024px) and (min-width: 768px) {
    .filters {
        min-width: 740px;
    } 
    
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements-and-populaires section{
        margin-bottom: 0px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites img {
        height: 200px;
    }

    .activites .card-txt {
        height: 30px;
    }
}


/* Tablet & above (768px+) -------------------------------------------*/
@media (min-width: 768.01px) {

    header nav a:hover{
        color: #0065fc;
        border-top: 2px #0065fc solid;
        padding-top: 27px;
    }

}