/****** General ---------------------------------------***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    justify-content: center;
    gap: 35px;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 50px;
}

/* AVOIDIND REPEATING CSS RULES :  */

/* DISPLAY: FLEX */
body,
footer ul,
.headerLinks, header nav,
.infogroup,
.headlines,
.searchbar,
.location-icone,
.filters, .filters h3, .filterbar, .filter-text, .filter i, .filter, .filtersLine1, .filtersLine2,
.infobar, .infobar i, .infobar p,
.hebergements-and-populaires, .hebergements, .hebergements-cards-1st-line, .hebergements-cards-2nd-line,
.hebergements .card, .hebergements .card-txt, .hebergements .card-content,
.populaires-title, .populaires-cards, .populaires-cards .card, .populaires-cards .card-content,
.activites, .activitesCardsContainer, .activites .card-txt,
footer, .footerColumns 
{
    display: flex;
}

/* FLEX DIRECTION COLUMN */
body,
.infogroup,
.headlines,
.hebergements, .hebergements .card, .hebergements .card-txt, .hebergements .card-content,
.populaires-cards, .populaires-cards .card-content,
.activites,
.footerColumns, footer ul
{
    flex-direction: column;
}

/* User Agent changes -----------------------------------------*/
/* Chromium */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}


/* HEADER----------------------------------------------------*/
header {
    max-width: 1440px;
    min-width: 320px;
    width: 100%;
}

header nav {
    justify-content: space-between;

}

header nav img {
    width: 61.09px;
    height: 19px;
    padding: 30px 0 0 0;

}

.headerLinks {
    gap: 50px;
    padding-right: 50px;
    list-style-type: none;
}

header li {
    padding: 30px;
    font-size: 16px;
}


/* ----------------------------------------------------------- */
.main-container {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h3 {
    font-size: 18px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    padding: 5px;
}

.card,
.activitesCard {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img,
.activitesCard img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Infogroup-----------------------------------------------*/
.infogroup{
    gap: 35px;
    margin-bottom: 30px;
}

/* Headlines----------------------------------------------*/
.headlines {
    gap: 8px;
}

.headlines h1 {
    font-size: 22px;
}

.headlines p {
    font-size: 16px;
}

/* Searchbar----------------------------------------------*/
.location-icone i {
    width: 14px;
    height: 18px;
    top: 15px;
    left: 18px;
    color:black;
}

.location-icone {
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    border: 1px;
    background-color: 
    #F2F2F2;
    justify-content: center;
    align-items: center;
    ;
}

.searchbar input {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: black;
    border: 1px solid #F2F2F2;
}

.searchbar button {
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px 15px 16px;
    border: 0px;
}

.searchbar button:hover {
    cursor: pointer;
}

.search-button-text {
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.searchbar button i {
    display: none;
}

/* Filters------------------------------------------------------------------*/
.filters{
    gap: 15px;
}

.filters h3 {
    align-items: center;
    font-weight: 700;
}

.filterbar {
    gap: 15px;
    flex-wrap: wrap;
}

.filterbar .filter-text {
    font-weight: 700;
    font-size: 17px;
    align-items: center;
}

.filter {
    background-color: white;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
}

.filter:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.filter i {
    font-size: 22px;
    align-items: center;   
}

.filter {
    gap: 10px;
    padding: 8px 16px 8px 16px;
}

.filtersLine1,
.filtersLine2 {
    gap: 15px;
}

/* Infobar---------------------------------------------------*/
.infobar {
    gap: 10px;
}

.infobar i {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size: 10px;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    font-weight: 700;

}

.infobar p {
    font-size: 16px;
    align-items: center;
}

/****** Hebergements And Populaires --------------------------***********/
.hebergements-and-populaires {
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

/* Hebergements---------------------------------------------*/
.hebergements {
    width: 65%;
    padding: 30px;
    gap: 30px;
}

.hebergements h2 {
    font-size: 22px;
}

.hebergements img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 5px;
}

.hebergements-cards-1st-line,
.hebergements-cards-2nd-line {
    gap: 30px
}

.hebergements a {
    width: 100%;
}

.hebergements .card-txt {
    gap: 8px;
}

.hebergements .card-subtitle{
    font-size: 14px;
}

.hebergements .card-content {
    gap: 8px;
    padding-left: 15px;
    height: 83.25px;
}

.showMore {
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires-------------------------------------- ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
}

.populaires-cards{
    gap: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités----------------------------------------------*/
.activites {
    padding: 30px;
    gap: 30px;
}

.activitesCardsContainer {
    gap: 30px;
    width: 100%;
}

.activites a {
    width: 100%;
}

.activites img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 380px;
}

.activites .card-txt {
    align-items: center;
    padding: 20px;
    height: 19px;
}

/* Footer-----------------------------------------------------*/
footer {
    background-color: #F2F2F2;
    width: 100%;
    align-self: center;
}

.footerColumns {
    padding: 20px;
    gap: 15px;
    width: 33%;
}

footer ul {
    gap: 15px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

footer a {
    font-size: 16px;
}


/* Desktop only (1024px+)--------------------------------------*/
@media (min-width: 1024px) {
    .activitesCard img {
        height: 380px;
    }

    header nav li:hover{
        color: #0065fc;
        border-top: 2px #0065fc solid;
        padding-top: 27px;
    }
}